:root {
    --main-height: 80vh;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

body {
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: var(--color-primary);
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;

    --color-primary: #adf7f7;
    --color-error: #cc3333;
    --color-success: #4bb544;
    --border-radius: 4px;

}

.container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}


.container,
.formInput,
.formButton {
    font: 500 1rem "Montserrat", sans-serif;

}


.form>*:first-child {
    margin-top: 0;
}

.form>*:last-child {
    margin-bottom: 0;
}

.formMessage {
    text-align: center;
    margin-bottom: 1rem;

}

.formMessage-formError {
    color: var(--color-error);
}

.formMessage-formSuccess {
    color: var(--color-success);
}


.formTitle {
    text-align: center;
    margin-bottom: 2rem;
}

.formInput-group {
    margin-bottom: 1rem;
}

.formInput {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    outline: none;
    background: #eeeeee;
    border: 1px solid #ffffff;
    transition: background 0.2s, border-color 0.2s;

}

.formInput:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.formInput-formError {
    color: var(--color-error);
    border-color: var(--color-error);
}

.formInput-error {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-error);

}

.formButton {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #181717;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background: var(#eeeeee);
}

.formButton:hover {
    background: var(#eeeeee);
}

.formButton:active {
    transform: scale(0.98);
}

.formText {
    text-align: center;
}

.formLink {
    color: var(#eeeeee);
    text-decoration: none;
    cursor: pointer;
}

.formLink:hover {
    text-decoration: underline;
}